<%- include("../partials/header") %>

        <div id="faqs">

            <div class="faq">
                <p>
                    <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#faq1"
                        aria-expanded="false" aria-controls="faq1">
                        Faq - 1
                    </button>
                </p>
                <div class="collapse" id="faq1">
                    <div class="card card-body">
                        Random goo...... Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt
                        facilis rerum accusamus corrupti beatae quos, magni blanditiis reiciendis quis commodi eos
                        minima
                        repellendus modi minus, numquam harum quia? Aliquam.
                    </div>
                </div>
            </div>

            <div class="faq">
                <p>
                    <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#faq2"
                        aria-expanded="false" aria-controls="faq2">
                        Faq - 2
                    </button>
                </p>
                <div class="collapse" id="faq2">
                    <div class="card card-body">
                        2 gooooooo...... Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis
                        aspernatur recusandae maxime, nihil nostrum excepturi provident consequuntur est laboriosam
                        nesciunt
                        officia, non cumque delectus fugiat itaque temporibus. Libero, dignissimos ipsam!
                    </div>
                </div>
            </div>

            <div class="faq">
                <p>
                    <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#faq3"
                        aria-expanded="false" aria-controls="faq3">
                        Faq - 3
                    </button>
                </p>
                <div class="collapse" id="faq3">
                    <div class="card card-body">
                        3.... Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad laudantium atque
                        adipisci
                        fuga omnis, sint recusandae vel incidunt nostrum quis ipsum non voluptates illo inventore
                        similique
                        amet necessitatibus molestias quidem.
                    </div>
                </div>
            </div>

        </div>

<%- include("../partials/footer") %>
