<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Add Disease</title>
	<base href="/">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>

	<div id="container">
		<form method="POST">
			<h1>Create Disease<i class="fa fa-plus"></i></h1>
			<label for="disease">Disease:</label>
			<input type="text" name="disease" placeholder="Name of the Disease">
			<label for="symptom">symptom</label>
			<input type="text" name="symptom" placeholder="Add symptom">
			<ul>

			</ul>
		</form>
		<form id="2" method="POST">
			<button type="submit" class="btn btn-success">
				Submit
			</button>
		</form>
	</div>
		<a href="/diseases">Display all Diseases</a>


</body>

</html>